body{
    background-image: url(https://image.freepik.com/free-photo/open-book-with-glasses-wooden-table-against-background-set-books-vintage-toning_101969-514.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h5{
    color: brown;
}
p{
    color: chocolate;
}
.footer{
    background-color: rgba(0, 0, 0, 0.74);
    color:blue;
    padding: 30px;
    align-items: stretch;
}